<footer class="l-footer">
  <div class="l-footer__inner">
    <figure>
      <img src="/assets/images/home/footer.jpg" alt="" decoding='async'>
    </figure>
    <div class="l-footer__copy">
      <p class="l-footer__copyright"><small>&copy;2025 All rights Reserved.</small></p>
    </div>
  </div>
</footer>
