<footer class="l-footer">
    <div class="l-footer__inner">
        <div class="l-footer__copy">
            <p class="l-footer__copyright"><small>&copy;2023 All rights Reserved.</small></p>
        </div>
    </div>
</footer>
