@use '../global' as *;

/*  p-index-home
----------------------------------- */
.p-index-home{
  position: relative;
  margin: 20px 20px 0;
  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    width: 1px;
    height: 0;
    background-color: var(--clr_border);
    transform: translateY(0);
    transform-origin: top left;
    transition: height 1.4s 1.4s ease;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}
.is-loaded{
  .p-index-home{
    &::before,
    &::after {
      height: 100%;
    }
  }
}

/*  p-mv
----------------------------------- */
.p-mv{
  position: relative;
  padding-top: calc(var(--size-header-h) + 20px);
  width: 100%;
  aspect-ratio: 1920/1080;
  .p-mv__imgWrap{
    position: absolute;
    width: 100%;
    aspect-ratio: 1920/1080;
  }
  .p-mv__img{
    position: absolute;
    width: min(100%, 376px);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
  .p-mv__ttlWrap{
    position: absolute;
    padding-left: 40px;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 9;
    mix-blend-mode: difference;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p-mv__ttl{
    font-size: clamp(3.75rem, 0.95rem + 8vw, 8.75rem);
  }
}

/*  p-index-end
----------------------------------- */
.p-index-end{
  position: relative;
  padding: 160px 0;
  width: 100%;
  aspect-ratio: 1920/1680;
  .p-index-end__ttlWrap{
    position: sticky;
    width: calc(100% - 20px);
    padding-top: 60px;
    top: 50%;
    left: 50%;
    z-index: 9;
    mix-blend-mode: difference;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p-index-end__ttl{
    display: inline-block;
    font-size: clamp(3.75rem, 0.95rem + 8vw, 8.75rem);
    svg{
      vertical-align: -10px;
    }
    path{
      fill: #fff;
    }
  }
  .p-index-end__imgWrap{
    position: absolute;
    top: 200px;
    display: grid;
    justify-items: center;
    width: 100%;
    aspect-ratio: 1920/1080;
  }
  .p-index-end__img{
    width: min(100%, 376px);
    grid-column: 1/2;
    grid-row: 1/2;
    &.-left{
      rotate: 10deg;
      transform-origin: top right;
      translate: -100%;
    }
    &.-right{
      transform-origin: top left;
      rotate: -10deg;
      translate: 100%;
    }
  }
}

/*  p-index-message
----------------------------------- */
.p-index-message{
  padding: 120px 0;
  figure{
    margin: 0 auto;
    width: fit-content;
  }
}