@use '../global' as *;

.l-header {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 40px);
  height: var(--size-header-h);
  display: flex;
  align-content: center;
  z-index: var(--z-header);
  margin: 20px 20px 0;
  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    border: 1px solid var(--clr_border);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.8s ease;
  }
  .l-header__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }

  .l-header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 160px;
    z-index: var(--z-header-logo);
  }
  .l-header__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }
  @include mq (large){
    .l-header__logo {
      width: 270px;
    }
    .l-header__logo-link {
      width: 200px;
    }
  }
}

.is-loaded{
  .l-header{
    &::before {
      transform: scaleX(1);
    }
  }
}

/* 	本文スキップボタン
---------------------------------------------*/
.l-header__skip-content {
  @media (hover: hover) and (pointer: fine) {
    &:focus-visible {
      padding: 1rem 2rem;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: var(--z-skip-main);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 700;
      color: #fff;
      background-color: var(--clr_primary);
    }
  }
}
