@use '../global' as *;

.l-navigation {
  height: 100%;
  @if $wide_hamburger == false {
    display: none;
    @include mq(hamburger) {
      display: revert;
    }
  }

  .l-navigation__list {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    height: 100%;
  }
  .l-navigation__item{
    position: relative;
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 1px;
      height: 0;
      background-color: var(--clr_border);
      transform: translateY(0);
      transform-origin: top left;
      transition: height 1.2s .4s ease;
    }
  }

  .l-navigation__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 12px;
    height: 100%;
    transition: var(--transition);
    transition-property: opacity;
    font-size: font-size(14);
    font-weight: 600;
    &.-recruit{
      color: #fff;
      background-color: var(--clr_bg);
    }
    &.-contact{
      color: #fff;
      background-color: var(--clr_border);
    }
    @include hover {
      opacity: 0.5;
    }
  }
}

// アニメーション
.is-loaded{
  .l-navigation__item{
    &::before{
      height: 100%;
    }
  }
}